name: push_to_registry

on:
  push:
    branches: ["main"]

jobs:
  push_to_registry:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: docker build -t prsai97/next-js-app .
    - run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin
    - run: docker push prsai97/next-js-app:latest